<ul>
  <li>
    <a href="/group/linux_hack/">Linux Hack</a>
    <ul>
      {% for post in site.posts %}
        {% if post.categories contains "linux_hack" %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
  <li>
    <a href="/group/recipe/">Recipe</a>
    <ul>
      {% for post in site.posts %}
        {% if post.categories contains "recipe" %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
  
</ul>